.sugestoesContainer {
    padding: 16px;
}

.sugestaoItem {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    padding: 8px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.sugestaoItem:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.nomeSugestao {
    font-size: 0.9rem;
}

.amigosComum {
    font-size: 0.75rem;
    color: gray;
}

@media (min-width: 600px) {
    .nomeSugestao {
        font-size: 1rem;
    }

    .amigosComum {
        font-size: 0.875rem;
    }
}