.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-color: #333;
    color:white
}

.controle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #33a024;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    max-width: 80%;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #ddd;
    border-radius: 10px;
    font-size: 14px;
    color: #333;
}

@media (min-width: 768px) {
    .container {
        padding: 40px;
    }

    .gallery {
        max-width: 600px;
    }

    .image {
        width: 120px;
        height: 120px;
        font-size: 16px;
    }
}
